---
import Layout from "../../../../layouts/Layout.astro";

export const prerender = false;

const { lang, id } = Astro.params;

// TODO: get data from database
---

<Layout>
  <section
    class="container mx-auto px-4 md:px-12 py-16 mt-24 justify-end flex flex-col gap-4"
  >
    <span
      class="px-5 py-4 w-fit border border-primary-2 rounded-full text-primary-2 font-satoshi"
    >
      CASE STUDY
    </span>
    <h2 class="text-4xl md:text-6xl">ASTRA</h2>
    <div
      class="flex justify-between flex-col md:flex-row gap-8 md:gap-12 lg:gap-24 mt-8 font-satoshi"
    >
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-xl md:text-2xl lg:text-3xl">About project</h5>
        <hr />
        <p class="text-lg lg:text-xl text-primary-2">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Reprehenderit nesciunt quae nobis velit molestias, distinctio aperiam
          eaque dicta totam voluptatibus, itaque quo corrupti nisi quidem quod
          veritatis. Nemo, illum itaque?
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-xl md:text-2xl lg:text-3xl">Services</h5>
        <hr />
        <p class="text-lg lg:text-xl text-primary-2">Service</p>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-xl md:text-2xl lg:text-3xl">Industry</h5>
        <hr />
        <p class="text-lg lg:text-xl text-primary-2">Education</p>
      </div>
    </div>
  </section>
  <section class="container mx-auto px-4 md:px-12 py-16 flex flex-col gap-4">
    Gallery
  </section>
</Layout>
