---
import WorkItem from "./WorkItem.astro";
---

<!-- TODO: responsive -->
<section id="work_container" class="pt-16 pb-32">
  <div
    class="container mx-auto grid md:grid-cols-8 lg:grid-cols-12 gap-8 gap-y-12"
  >
    <WorkItem />
    <WorkItem />
    <WorkItem />
    <WorkItem />
    <WorkItem />
  </div>
</section>
