---
// Dependencies
import { Image } from "astro:assets";

// Assets
import aboutMe from "../../../../assets/about-me.png";

// Utils
import { getProjectsText } from "../../../../lib/utils/api.utils";

const { lang } = Astro.params;
const { data: res } = await getProjectsText(lang);
const data = res.translations[0];
---

<!-- TODO: responsive -->
<section id="hero_work">
  <div
    class="container mx-auto py-8 md:py-32 mt-32 flex items-end relative px-4"
  >
    <h1 class="uppercase text-4xl md:text-6xl">{data.text_title}</h1>
    <Image
      src={aboutMe}
      class="hidden md:block absolute bottom-4 -right-0 xl:right-4 object-cover"
      alt="About Me"
      loading="lazy"
      format="webp"
      decoding="async"
    />
  </div>
</section>
