---
// Components
import WorkItem from "./WorkItem.astro";

// Utils
import { ENV } from "../../../../lib/config/env";

const { data } = await fetch(
  `${ENV.CMS_ITEMS_URL}/projects?fields[]=*,gallery.*,skills.*.*`
).then((res) => res.json());
---

<!-- TODO: responsive -->
<section id="work_container" class="pt-8 md:pt-16 pb-16 md:pb-32">
  <div
    class="container mx-auto grid px-4 md:grid-cols-8 lg:grid-cols-12 gap-8 gap-y-12"
  >
    {
      data.map((item: any) => {
        return <WorkItem {...item} />;
      })
    }
  </div>
</section>
