---
// Dependencies
import { Image } from "astro:assets";

// Components
import Skill from "../../../../components/utils/Skill.astro";
import Button from "../../../../components/utils/Button.astro";

// Assets
import recentProjectsBg from "../../../../assets/recentproject-default.png";

const { lang } = Astro.params;
---

<div class="md:max-w-[436px] col-span-4 font-satoshi">
  <a class="flex flex-col gap-4" href={`/${lang}/projects/${1}`}>
    <div class="relative">
      <Image
        src={recentProjectsBg}
        class="w-full h-full object-cover"
        alt="Recent Projects"
        loading="lazy"
        format="webp"
        decoding="async"
      />
      <div class="absolute right-4 bottom-4">
        <Button icon="arrow-right-up" />
      </div>
    </div>
    <h3 class="text-3xl font-bold">ASTRA</h3>
    <div class="flex gap-4 items-center flex-wrap">
      <Skill> React </Skill>
      <Skill> .NET Web API </Skill>
      <Skill> C# </Skill>
      <Skill> PostgreSQL </Skill>
      <Skill> IBM DB2 </Skill>
    </div>
  </a>
</div>
