---
// Dependencies
import { Image } from "astro:assets";

// Compoentns
import Button from "./utils/Button.astro";

// Assets
import decoratorImage from "../assets/about-me.png";

// Utils
import { ENV } from "../lib/config/env";
import { getAboutMe } from "../lib/utils/api.utils";

interface Props {
  btn_moreaboutme: string;
}

const { btn_moreaboutme } = Astro.props;

const lang = Astro.params.lang;
const { data: res } = await getAboutMe(lang);
const data = res.translations[0];
---

<section
  id="about-me"
  class="bg-primary-4 relative -top-12 rounded-t-[40px] flex flex-col items-center [&>*]:font-sans"
>
  <div
    class="container mx-auto flex flex-col w-full px-4 md:px-12 pt-24 pb-8 md:py-36"
  >
    <div
      class="flex flex-col gap-4 md:items-start items-center text-center md:text-start"
    >
      <p
        class="font-satoshi text-primary-1 text-xl md:text-3xl lg:max-w-[50%] font-light"
        set:html={data.description}
      />
      <a href=`/${lang}/about`>
        <Button icon="arrow-right"> {btn_moreaboutme} </Button>
      </a>
    </div>
    <Image
      class="md:block hidden absolute right-12 bottom-0 w-[482px]"
      src={decoratorImage}
      alt="About me"
    />
  </div>
</section>
