---
// Dependencies
import { Image } from "astro:assets";

// Assets
import decoratorImage from "../assets/about-me.png";
---

<section
  id="about-me"
  class="bg-primary-4 relative -top-12 rounded-t-[40px] flex flex-col items-center px-12 py-36 [&>*]:font-sans"
>
  <div class="flex flex-col gap-4">
    <p
      class="font-sans text-primary-1 text-[30px] max-w-[50%] font-light text-pretty"
    >
      Specialized in building full-stack systems. Always striving to create
      high-quality and scalable digital products. Currently developing the new
      institutional web application for the Universidad Autónoma del Caribe.
      Expert in languages and technologies such as C#, JavaScript, .NET, React,
      and PostgreSQL.
    </p>
    <a
      class="bg-primary-3 text-primary-1 text-[20px] px-[20px] py-[14px] rounded-full font-light flex gap-2 items-center w-fit"
      >More about me</a
    >
  </div>
  <Image
    class="absolute right-12 bottom-0"
    src={decoratorImage}
    alt="About me"
  />
</section>
