---
import BlogItem from "./utils/BlogItem.astro";
---

<section class="container mx-auto flex flex-col gap-20 px-12 py-20">
  <h1 class="text-6xl">Blog</h1>
  <ul class="flex gap-8 flex-wrap">
    <li>
      <BlogItem />
    </li>
    <li>
      <BlogItem />
    </li>
  </ul>
</section>
