---
import BlogItem from "./utils/BlogItem.astro";
---

<section class="container mx-auto flex flex-col gap-20 px-12 py-20">
  <h1 class="text-6xl">Blog</h1>
  <div
    class="flex justify-center items-center border border-dashed p-32 rounded-xl font-satoshi border-primary-3"
  >
    <p class="text-3xl text-primary-2">Working...</p>
  </div>
  <!-- <ul class="flex gap-8 flex-wrap">
    <li>
      <BlogItem />
    </li>
    <li>
      <BlogItem />
    </li>
  </ul> -->
</section>
