<header
  class="fixed top-0 left-0 w-full flex justify-between items-center p-4 px-12"
>
  <h1>Portfolio</h1>
  <nav class="flex gap-4 items-center text-primary-4">
    <a href="/">About me</a>
    <a href="/about">Work</a>
    <a href="/contact">Contact</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
