---
const { lang } = Astro.params;
---

<header
  class="fixed top-0 left-0 w-full py-8 px-12 bg-primary-4 border-b border-primary-3 z-50"
>
  <div class="container mx-auto flex justify-between items-center">
    <a href="/">
      <h1>Portfolio</h1>
    </a>
    <nav class="flex gap-4 items-center font-satoshi text-lg">
      <a href=`/${lang}` class="hover:underline">Home</a>
      <a href=`/${lang}/about` class="hover:underline">About me</a>
      <a href=`/${lang}/projects` class="hover:underline">Projects</a>
      <a href=`/${lang}/#footer` class="hover:underline">Contact</a>
      <a href="#" class="hover:underline opacity-50 cursor-not-allowed">Blog</a>
    </nav>
  </div>
</header>
