---
import { Icon } from "astro-icon/components";

const { lang } = Astro.params;

const isInPage = Astro.url.pathname;
---

<header
  class="fixed top-0 left-0 w-full py-8 px-4 md:px-12 bg-primary-4 border-b border-primary-3 z-50"
>
  <div class="container mx-auto flex justify-between items-center">
    <a href="/">
      <h1 class="font-satoshi text-2xl text-primary-1 font-bold">DY</h1>
    </a>
    <nav class="hidden sm:flex gap-4 items-center font-satoshi text-lg">
      <a href=`/${lang}` class=`hover:underline`>Home</a>
      <a href=`/${lang}/about` class=`hover:underline`>About me</a>
      <a href=`/${lang}/projects` class=`hover:underline`>Projects</a>
      <a href=`/${lang}/#footer` class=`hover:underline`>Contact</a>
      <a href="#" class="hover:underline opacity-50 cursor-not-allowed">Blog</a>
    </nav>
    <div
      class="cursor-pointer border border-primary-2 rounded-md p-1 sm:hidden"
    >
      <Icon name="menu-hamburger" class="w-6 h-6" />
    </div>
  </div>
</header>
