---
// Components
import Button from "./utils/Button.astro";

// Services
import { getAboutMe } from "../lib/utils/api.utils";

interface Props {
  btn_downloadcv: string;
}

const { btn_downloadcv } = Astro.props;

const { data: res } = await getAboutMe(Astro.params.lang);
const data = res.translations[0];
---

<section id="hero" class="h-[90dvh] text-primary-4 w-full content-end">
  <div
    class="container mx-auto gap-4 md:gap-8 lg:gap-0 justify-end flex flex-col text-center lg:text-justify px-12 pb-[180px]"
  >
    <h1 class="text-4xl sm:text-6xl md:text-8xl lg:text-9xl font-neue">
      Daniel Yepes
    </h1>
    <p class="font-satoshi text-xl md:text-3xl text-primary-3">
      {data.career}
    </p>
    <div class="w-full flex justify-center lg:justify-end">
      <Button icon="download" class="font-satoshi bg-primary-4">
        {btn_downloadcv}
      </Button>
    </div>
  </div>
</section>

<style>
  #hero {
    background-image: url("/src/assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
