<section
  id="hero"
  class="h-[90dvh] text-primary-4 flex flex-col justify-end pb-[180px] px-12 w-full"
>
  <h1 class="text-9xl font-neue">Daniel Yepes</h1>
  <div class="w-full flex justify-end">
    <button
      class="bg-primary-4 text-primary-1 text-[20px] px-[20px] py-[14px] rounded-full font-light flex gap-2 items-center"
    >
      Download CV
    </button>
  </div>
</section>

<style>
  #hero {
    background-image: url("/src/assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
