---
// Components
import Button from "./utils/Button.astro";

// Services
import { getAboutMe, getCv } from "../lib/utils/api.utils";

// Config
import { ENV } from "../lib/config/env";

interface Props {
  btn_downloadcv: string;
}

const { btn_downloadcv } = Astro.props;
const lang = Astro.params.lang;

const [about, dataCv] = await Promise.all([getAboutMe(lang), getCv(lang)]);
const { data: res } = about;
const { data: resCv } = dataCv;
const data = res.translations[0];
const cv_url = resCv.translations[0];
---

<section id="hero" class="h-[90dvh] text-primary-4 w-full content-end">
  <div
    class="container mx-auto gap-4 md:gap-8 lg:gap-0 justify-end flex flex-col text-center lg:text-justify px-12 pb-[180px]"
  >
    <h1 class="text-4xl sm:text-6xl md:text-8xl lg:text-9xl font-neue">
      Daniel Yepes
    </h1>
    <p class="font-satoshi text-xl md:text-3xl text-primary-3">
      {data.career}
    </p>
    <div class="w-full flex justify-center lg:justify-end">
      <a
        onclick="umamiTrack('download-cv')"
        href={`${ENV.CMS_ASSETS_URL}/${cv_url.cv}`}
        target="_blank"
      >
        <Button
          id="download-cv"
          icon="download"
          class="font-satoshi bg-primary-4"
        >
          {btn_downloadcv}
        </Button>
      </a>
    </div>
  </div>
</section>

<script>
  import { umamiTrack } from "../lib/utils/global.utils";
</script>

<style>
  #hero {
    background-image: url("/src/assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
