<section id="hero" class="h-[90dvh] text-primary-4 w-full content-end">
  <div class="container mx-auto justify-end flex flex-col px-12 pb-[180px]">
    <h1 class="text-9xl font-neue">Daniel Yepes</h1>
    <div class="w-full flex justify-end">
      <button
        class="bg-primary-4 text-primary-1 text-[20px] px-[20px] py-[14px] rounded-full font-light flex gap-2 items-center font-satoshi"
      >
        Download CV
      </button>
    </div>
  </div>
</section>

<style>
  #hero {
    background-image: url("/src/assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
