---
// Components & Layouts
import Button from "./utils/Button.astro";
import RecentProjectsItem from "./utils/RecentProjectsItem.astro";

const { lang } = Astro.params;
---

<section
  id="projects"
  class="container mx-auto flex flex-col gap-20 px-4 md:px-12 py-20 md:items-start items-center"
>
  <h1 class="text-6xl">Recent Projects</h1>
  <ul class="flex flex-col gap-8 md:items-start items-center">
    <li>
      <RecentProjectsItem />
    </li>
    <li>
      <RecentProjectsItem />
    </li>
    <li>
      <RecentProjectsItem />
    </li>
  </ul>
  <a href=`/${lang}/projects` class="self-center md:self-end">
    <Button icon="arrow-right-up"> More Work </Button>
  </a>
</section>
