---
// Components & Layouts
import Button from "./utils/Button.astro";
import RecentProjectsItem from "./utils/RecentProjectsItem.astro";

// Services
import { getRecentProjects } from "../lib/utils/api.utils";

interface Props {
  title_projects: string;
  btn_morework: string;
}

const { lang } = Astro.params;
const { data } = await getRecentProjects(lang);

const { title_projects, btn_morework } = Astro.props;
---

<section
  id="projects"
  class="container mx-auto flex flex-col gap-12 md:gap-20 px-4 md:px-12 py-20 md:items-start"
>
  <h1 class="text-4xl md:text-6xl">{title_projects}</h1>
  <ul class="flex flex-col gap-8 md:items-start items-center w-full">
    {
      data.map((item: any) => {
        return (
          <li class="w-full">
            <RecentProjectsItem {...item} />
          </li>
        );
      })
    }
  </ul>
  <a href=`/${lang}/projects` class="self-center md:self-end">
    <Button icon="arrow-right-up"> {btn_morework} </Button>
  </a>
</section>
