---
// Dependencies
import type { GetStaticPaths } from "astro";

// Components
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import AboutMe from "../../components/AboutMe.astro";

export const getStaticPaths = (() => {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
---

<Layout lang={lang}>
  <main class="flex flex-col w-full">
    <Header />
    <Hero />
    <AboutMe />
  </main>
</Layout>
