---
import Layout from "../../../../layouts/Layout.astro";

export const prerender = false;

const { lang, id } = Astro.params;

// TODO: get data from database
---

<Layout lang={lang}>
  <section
    class="container mx-auto py-16 justify-end h-[70dvh] flex flex-col gap-4"
  >
    <span
      class="px-5 py-4 w-fit border border-primary-2 rounded-full text-primary-2"
    >
      CASE STUDY
    </span>
    <h2 class="text-6xl">ASTRA</h2>
    <div class="flex justify-between gap-32 mt-8">
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-[34px]">About project</h5>
        <hr />
        <p class="text-xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Reprehenderit nesciunt quae nobis velit molestias, distinctio aperiam
          eaque dicta totam voluptatibus, itaque quo corrupti nisi quidem quod
          veritatis. Nemo, illum itaque?
        </p>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-[34px]">Service</h5>
        <hr />
        <p class="text-xl">Service</p>
      </div>
      <div class="flex-1 flex flex-col gap-4">
        <h5 class="text-[34px]">Industry</h5>
        <hr />
        <p class="text-xl">Education</p>
      </div>
    </div>
  </section>
  <section class="container mx-auto py-32 flex flex-col gap-4">Gallery</section>
</Layout>
