---
// Dependencies
import { Image } from "astro:assets";

// Components & Layouts
import Layout from "../../../layouts/Layout.astro";

// Assets
import meWorking from "../../../assets/me-working.jpg";

export const prerender = false;

const { lang } = Astro.params;
---

<Layout>
  <section class="container mx-auto py-32 px-4 md:px-8">
    <div class="flex justify-between gap-8 flex-col sm:flex-row items-center">
      <div
        class="flex-1 flex flex-col gap-4 order-2 lg:order-1 text-center sm:text-start"
      >
        <span
          class="uppercase text-xl text-primary-2 rounded-full px-5 py-4 border border-primary-2 w-fit font-satoshi self-center sm:self-start"
          >About me</span
        >
        <div>
          <h2 class="text-5xl">Daniel Yepes</h2>
          <p class="text-primary-2 text-xl font-satoshi">Software Engineer</p>
        </div>

        <p class="text-xl md:text-2xl font-satoshi">
          Specialized in building full-stack systems. Always striving to create
          high-quality and scalable digital products. Currently developing the
          new institutional web application for the Universidad Autónoma del
          Caribe. Expert in languages and technologies such as C#, JavaScript,
          .NET, React, and PostgreSQL.
        </p>
      </div>
      <Image
        class="flex-1 max-w-[200px] max-h-[200px] sm:max-h-full md:max-w-[400px] md:max-h-[400px] object-cover rounded-3xl shadow-2xl order-1 lg:order-2"
        src={meWorking}
        alt="Me"
      />
    </div>
    <div class="py-32">
      <h2 class="text-4xl pb-4">Work Experience</h2>
      <hr />
      <div>
        <!-- Timeline component -->
      </div>
    </div>
    <div class="py-32">
      <h2 class="text-4xl pb-4">Education</h2>
      <hr />
      <div>
        <!-- Timeline component -->
      </div>
    </div>
    <div class="py-32">
      <h2 class="text-4xl pb-4">Certifications</h2>
      <hr />
      <div>
        <!-- Timeline component -->
      </div>
    </div>
    <div class="py-32">
      <h2 class="text-4xl pb-4">Skills</h2>
      <hr />
      <div>
        <!-- Timeline component -->
      </div>
    </div>
  </section>
</Layout>
