---
// Components & Layouts
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { lang } = Astro.params;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/setup.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel Yepes - Software Engineer</title>
  </head>
  <body class="m-0 [&>*]:font-neue">
    <main class="flex flex-col w-full">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
