<article class="flex justify-between gap-8 items-center w-fit font-satoshi">
  <a class="flex flex-col gap-3">
    <div class="flex gap-4 items-center">
      <h6
        class="px-5 py-4 border border-black uppercase text-black rounded-full text-xl"
      >
        Development
      </h6>
      <span class="text-xl text-primary-2 font-">5 min</span>
    </div>
    <h3 class="text-black font-bold text-3xl">Software Development</h3>
    <p class="text-primary-2 text-xl font-bold">Daniel Yepes - 2024</p>
  </a>
  <span class="bg-primary-3 px-5 py-[14px] h-fit rounded-full">→</span>
</article>
