---
// Dependencies
import { Icon } from "astro-icon/components";

// Utils
import { cn } from "../../lib/utils/tw.utils";

type Icons =
  | "arrow-right-up"
  | "arrow-right"
  | "download"
  | "mail-open"
  | "increase"
  | "menu-hamburger";

interface Props extends astroHTML.JSX.ButtonHTMLAttributes {
  icon?: Icons;
  containerClass?: string;
}

const {
  class: className,
  icon,
  children,
  containerClass,
  ...props
} = Astro.props;
---

<button
  {...props}
  class={cn(
    "text-primary-1 font-satoshi text-lg md:text-xl font-light flex items-center",
    containerClass
  )}
>
  {
    Astro.slots.has("default") && (
      <span class={cn("bg-primary-3 p-3 md:p-5 rounded-full", className)}>
        <slot />
      </span>
    )
  }
  {
    icon && (
      <span class={cn("bg-primary-3 p-4 md:p-5 rounded-full", className)}>
        <Icon class="md:w-6 md:h-6 w-5 h-5" name={icon} />
      </span>
    )
  }
</button>
