---
// Dependencies
import { Image } from "astro:assets";

// Components
import Skill from "../utils/Skill.astro";
import Button from "./Button.astro";

// Assets
import recentProjectDefault from "../../assets/recentproject-default.png";

const { lang } = Astro.params;
---

<a href={`/${lang}/projects/${1}`}>
  <article
    class="flex flex-col lg:flex-row gap-6 lg:items-center border-b border-gray-300 pb-10"
  >
    <Image
      src={recentProjectDefault}
      alt="Recent Project Default"
      class="w-full md:w-2/3 lg:w-auto"
    />
    <div class="flex flex-col gap-4">
      <h2 class="text-3xl font-bold font-satoshi">ASTRA</h2>
      <ul class="flex gap-2 text-xl flex-wrap">
        <li>
          <Skill> React </Skill>
        </li>
        <li>
          <Skill> TypeScript </Skill>
        </li>
        <li>
          <Skill> Node.js </Skill>
        </li>
        <li>
          <Skill> PostgreSQL </Skill>
        </li>
      </ul>
      <div class="flex gap-4 items-center flex-col md:flex-row">
        <p class="text-lg sm:text-xl md:text-2xl w-fit font-satoshi">
          A new platform designed for students, teachers, and administrative
          users, built using React. Responsible for implementing architecture,
          documentation, authentication system, logs reporting and additional
          features.
        </p>
        <Button icon="arrow-right-up" />
      </div>
    </div>
  </article>
</a>
