<article class="flex flex-col gap-6">
  <h2 class="text-3xl">Desarrollo de Software</h2>
  <hr />
  <ul class="relative [&>li]:text-2xl">
    <li>Aplicaciones Web</li>
    <li>Aplicaciones Mobile</li>
    <li>Aplicaicones a la medida</li>
    <li>Software de Código Abierto</li>
  </ul>
</article>
