---
// Components
import ServicesCard from "./ServicesCard.astro";

// Services
import { getServices } from "../../lib/utils/api.utils";

interface Props {
  title_services: string;
}

const { title_services } = Astro.props;

const { data } = await getServices(Astro.params.lang);
// TODO: ajustar traducción de items en la lista
---

<section
  class="container mx-auto flex flex-col gap-20 px-12 py-12 md:py-20 md:items-start items-center"
>
  <h1 class="text-4xl md:text-6xl">{title_services}</h1>
  <ul
    class="flex gap-16 md:gap-8 flex-wrap justify-center md:text-start text-center md:justify-between w-full"
  >
    {
      data.map((item: any) => {
        return item.translations.map((service: any) => {
          return (
            <li>
              <ServicesCard title={service.title} items={service.items} />
            </li>
          );
        });
      })
    }
  </ul>
</section>
