---
interface Props {
  title: string;
  items: string[];
}

const {title, items} = Astro.props;
---

<article class="flex flex-col gap-2 md:gap-4">
  <h2 class="text-xl md:text-2xl font-satoshi font-bold">
    {title}
  </h2>
  <hr />
  <ul class="relative [&>li]:md:text-xl [&>li]:text-lg font-satoshi">
    {items.map(item => <li>{item}</li>)}
  </ul>
</article>
