---
// Components
import ServicesCard from "./ServicesCard.astro";

// Utils
import { ENV } from "../../lib/config/env";

interface Props {
  title_services: string;
}

const { title_services } = Astro.props;

const { data } = await fetch(`${ENV.CMS_ITEMS_URL}/services`).then((res) =>
  res.json()
);
---

<section
  class="container mx-auto flex flex-col gap-20 px-12 py-12 md:py-20 md:items-start items-center"
>
  <h1 class="text-4xl md:text-6xl">{title_services}</h1>
  <ul
    class="flex gap-16 md:gap-8 flex-wrap justify-center md:text-start text-center md:justify-between w-full"
  >
    {
      data.map((service: any) => {
        return (
          <li>
            <ServicesCard title={service.title} items={service.items} />
          </li>
        );
      })
    }
  </ul>
</section>
